.valtflowIcon {
  height: 22px;
  width: 22px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 22px;
}
.vaultflow {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 106px;
  white-space: nowrap;
}
.logoIcon,
.logoWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logoIcon {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.logoWrapper {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.aboutUs,
.features,
.pricing {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 70px;
}
.aboutUs,
.pricing {
  min-width: 57px;
}
.aboutUs {
  min-width: 73px;
  white-space: nowrap;
}
.menu,
.menuLinks {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.menuLinks {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-montserrat);
}
.menu {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.downloadTheApp {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  font-family: var(--font-montserrat);
  color: var(--color-gray-200);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-whitesmoke-200);
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--color-whitesmoke-200);
  height: 42px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button1:hover,
.button:hover {
  background-color: var(--color-lightgray-100);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
}
.talkToAn {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  font-family: var(--font-montserrat);
  color: var(--color-whitesmoke-200);
  text-align: left;
}
.button1,
.navbar,
.navbarContent,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--color-whitesmoke-200);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: transparent;
  border-radius: var(--br-31xl);
  justify-content: flex-start;
  white-space: nowrap;
}
.button1:hover {
  background-color: var(--color-lightgray-200);
}
.navbar,
.navbarContent,
.navigation {
  max-width: 100%;
}
.navigation {
  height: 40px;
  width: 750px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.navbar,
.navbarContent {
  box-sizing: border-box;
}
.navbarContent {
  width: 1200px;
  justify-content: space-between;
  padding: var(--padding-base) 0;
  gap: var(--gap-xl);
}
.navbar {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1050px) {
  .navigation {
    display: none;
  }
  .navbarContent {
    width: 450px;
  }
}
@media screen and (max-width: 750px) {
  .navigation {
    gap: var(--gap-base);
  }
}
