@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-base: 16px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-sm: 14px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-61xl: 80px;
  --font-size-21xl: 40px;
  --font-size-mid-3: 17.3px;

  /* Colors */
  --color-gray-100: #939393;
  --color-gray-200: #0b081c;
  --color-gray-300: #0b0121;
  --color-gray-400: rgba(255, 255, 255, 0.3);
  --color-gray-500: rgba(255, 255, 255, 0);
  --color-whitesmoke-100: #f2f4f8;
  --color-whitesmoke-200: #ececec;
  --color-whitesmoke-300: rgba(236, 236, 236, 0.65);
  --color-white: #fff;
  --color-lightgray-100: #d4d4d4;
  --color-lightgray-200: rgba(212, 212, 212, 0.09);

  /* Gaps */
  --gap-47xl: 66px;
  --gap-14xl: 33px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-5xl: 24px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-7xs: 6px;
  --gap-61xl: 80px;
  --gap-3xs-1: 9.1px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-69xl: 88px;
  --padding-xl: 20px;
  --padding-38xl: 57px;
  --padding-41xl: 60px;
  --padding-20xl: 39px;
  --padding-3xs: 10px;
  --padding-4xl: 23px;
  --padding-11xl: 30px;
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-10xs-1: 2.1px;
  --padding-10xs-3: 2.3px;
  --padding-7xs-6: 5.6px;
  --padding-11xs-6: 1.6px;
  --padding-9xs-6: 3.6px;
  --padding-6xl: 25px;
  --padding-151xl: 170px;
  --padding-61xl: 80px;
  --padding-91xl: 110px;
  --padding-33xl: 52px;
  --padding-52xl: 71px;
  --padding-15xl: 34px;
  --padding-205xl: 224px;
  --padding-127xl: 146px;
  --padding-xs: 12px;
  --padding-5xs: 8px;
  --padding-lg: 18px;
  --padding-lgi: 19px;
  --padding-7xs: 6px;
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-41xl: 60px;
  --br-5xl: 24px;
  --br-42xl-9: 61.9px;
  --br-31xl: 50px;
}
